.main{
    max-width: 600px;
    margin-inline: auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;
}
.box{
    width: 150px;
    aspect-ratio: 1/1;
    border: 1px solid black;
}